<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🏭 Modular Production System 4.0</h1>

    <div class="home-container">
        <div class="menu">
            <a href="station1">➡️ Station 1</a>
            <a href="station2">➡️ Station 2</a>
            <a href="station3">➡️ Station 3</a>
            <a href="station4">➡️ Station 4</a>
        </div>

        <div class="image-box">
            <img src="https://www.shutterstock.com/image-photo/user-concept-using-intelligent-robot-260nw-2482715433.jpg"
                 alt="User concept using intelligent robot" />
        </div>
    </div>
</body>
</html>
